@media (max-width: 1024px) {
  .inspiration {
    width: 950px;
    height: 1763px;
    display: grid;
    place-items: center;
    /* background-color: red; */
  }
  .image-container {
    width: 920px;
    /* height: 768px; */
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-direction: row;
    position: relative;
  }
  .box {
    width: 840px;
    /* height: 768px; */
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .loop {
    width: 260px;
    height: 265px;
  }
  .inspiration .img {
    /* background-color: green; */
    width: 292px;
    height: 372px;
    border-radius: 15px;
    border: solid rgba(215, 215, 215, 1) 1px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
  }
  .inspiration h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 59.95px;
    text-align: center;
    color: rgba(0, 0, 0, 1);
  }
  .flex1 p {
    font-size: 12px;
    font-weight: 400;
    line-height: 13.2px;
    text-align: left;
    color: rgba(67, 67, 67, 1);
  }
  .flex1 h5 {
    font-size: 12px;
    font-weight: 700;
    line-height: 13.2px;
    text-align: right;
    color: rgba(67, 67, 67, 1);
  }
  .flex2 p {
    font-size: 12px;
    font-weight: 400;
    line-height: 13.2px;
    color: rgba(67, 67, 67, 1);
  }
  .flex1,
  .flex2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 262px;
    height: 14px;
  }
  .flex3 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 262px;
    height: 12px;
  }
  .star {
    width: 12px;
    height: 12px;
    margin-right: 8px;
  }
}
@media (max-width: 820px) {
  .inspiration {
    width: 500px;
    height: 1750px;
    display: grid;
    place-items: center;
    /* background-color: red; */
  }
  .box {
    width: 450px;
    /* height: 768px; */
    /* background-color: white; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  .inspiration h2 {
    font-size: 28px;
    font-weight: 700;
    /* line-height: 59.95px; */
    text-align: center;

    color: rgba(0, 0, 0, 1);
  }
  .image-container {
    width: 500px;
    /* height: 768px; */
    /* background-color: white; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-direction: row;
    position: relative;
  }
}
@media (max-width: 475px) {
  .inspiration {
    width: 300px;
    height: 1800px;
    display: grid;
    place-items: center;
    /* background-color: red; */
  }
  .inspiration h2 {
    font-size: 20px;
    font-weight: 700;
    /* line-height: 59.95px; */
    text-align: center;
  }
  .box {
    width: 270px;
    /* height: 768px; */
    /* background-color: white; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  .image-container {
    width: 270px;
    /* height: 768px; */
    /* background-color: white; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-direction: row;
    position: relative;
  }
}
@media (max-width: 811px) {
  .inspiration {
    /* width: 300px; */
    height: 3300px;
    display: grid;
    place-items: center;
    /* background-color: red; */
  }
}
